.jumbotron {
  background-image: url(media/route.jpeg);
  background-position: 0px 700px;
  background-size: cover;
  padding-bottom: 50px;
  color: #fff;
  text-shadow: 2px 2px #000;
}

.jumbotron > p > a, .btn btn-primaire btn-lg {
  color: #FFF;
  background-color: #286090;
  border-color: #204D74;
  margin-left: 20px;
  margin-top: 10px;
}

h1, p {
  text-align: center;
  margin-top: 30px;
}

#carte {
  margin-right: 300px;
  margin-bottom: 20px;
  margin-top: 50px;
}

.form-horizontal {
  float: left;
  width: 700px;
  margin-right: 20px;
  margin-left: 50px;
  text-transform: uppercase;
  background-color: #DFF0D8;
  padding-bottom: 15px;
  padding-right: 10px;
}

.form-horizontal h2 {
  text-transform: none;
  text-decoration: underline;
  color: #286090;
  font-style: italic;
  font-size: 2.9em;
  text-align: center;
  font-family: ' indie flower';
  border: 1px solid #286090;
  width: 700px;
  margin-top: 2px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.form-horizontal p {
  text-transform: none;
  text-decoration: underline;
  color: #3C763D;
  font-size: 1.5em;
  text-align: left;
  margin-top: 50px;
}

.form-horizontal input {
  margin-bottom: 20px;
}

.form-horizontal a {
  text-align: center;
  text-transform: none;
}

#mode {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.1em;
  text-align: center;
  margin-bottom: 40px;
  width: 300px;
  border: 1px solid;
  border-color: #3C763D;
  border-radius: 5px;
  margin-left: 200px;
}

#fullscreen a {
  float: left;
  color: #3C763D;
  background-color: #DFF0D8;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.3em;
  width: 800px;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  border: 1px solid;
  border-color: #3C763D;
}

#panel {
  width: 500px;
}

#confirm {
  margin-top: 40px;
  color: #fff;
  background: #3C763D;
}

#logo {
  margin-right: 20px;
}

h3 {
  font-size: 3.5em;
  margin-left: -200px;
  text-shadow: 2px 3px #660000;
  font-weight: bold;
  color: #605353;
}

.masthead, .mastfoot {
  width: 900px;
}

h4 {

  font-size: 2.6em;
  margin-top: 260px;
  text-shadow: 2px 2px #666666;
  font-style: oblique;
  text-shadow: 2px 3px #660000;
  color: #605353;
}

#titre {
  color: #605353;
  text-shadow: 2px 6px #000066;
  font-weight: bold;
  font-size: 1.4em;
  font-style: italic;
}

.pet {
  width: 420px;
  float: left;
  margin-left: -500px;
}

.pet2 {
  float: left;
  width: 420px;
  margin-left: 700px;
}

#carte {
  float: left;
  margin-top: 0px;
  color: #000;
}

#carte img {
  width: 150px;
  height: 100px;
}

#carte p {
  height: 30px;
}

.case {
  width: 1000px;
}
